{% extends "index.html" %}

{% block content %}

<div class="container mt-5">
    <form method="POST" action="" class="w-50 m-auto border p-4 text-light">
        {% csrf_token %}
        <label for="">Mevcut Şifre </label>
        <input type="password" name="eski" class="form-control" id="">
        <label for="">Yeni Şifre </label>
        <input type="password" name="yeni" class="form-control" id="">
        <label for="">Yeni Şifre Onay</label>
        <input type="password" name="yeni2" class="form-control" id="">
        
        <input type="submit" value="Güncelle" class="btn btn-primary mt-2">
    </form>
</div>

{% endblock content %}